<ion-content>

<ion-header>
  <ion-toolbar>
    <ion-menu-button slot="start"></ion-menu-button>
    <ion-title>Cálculo de Frete</ion-title>
  </ion-toolbar>
</ion-header>

  <ion-menu side="start" menuId="first" contentId="main">
    <ion-header>
      <ion-toolbar color="success">
        <ion-title>Start Menu</ion-title>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item routerLink="/sobre">Sobre</ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>

  <ion-router-outlet id="main"></ion-router-outlet>

  <ion-card>

    <h1>Informações do Frete</h1>

    <ion-item>
      <ion-label position="floating">Valor ofertado para o Frete (R$)</ion-label>
      <ion-input type="number" [(ngModel)]="valorFrete"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Distância a percorrer (Km)</ion-label>
      <ion-input type="number" [(ngModel)]="distanciaKm"></ion-input>
    </ion-item>

  </ion-card>

  <ion-card>

    <h1>Informações do Veículo</h1>

    <ion-item>
      <ion-label position="floating">Qual o consumo? (Km/L)</ion-label>
      <ion-input type="number" [(ngModel)]="consumoKm"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Capacidade do tanque (L)</ion-label>
      <ion-input type="number" [(ngModel)]="capacidadeTanque"></ion-input>
    </ion-item>

  </ion-card>

  <ion-card>

    <h1>Informações do Combustível</h1>

    <ion-item>
      <ion-label position="floating">Qual o valor do litro? (R$)</ion-label>
      <ion-input type="number" [(ngModel)]="valorLitro"></ion-input>
    </ion-item>

  </ion-card>

  <ion-card>

    <h1>Informações da Viagem</h1>

    <ion-item>
      <ion-label position="floating">Lucro da Viagem (R$)</ion-label>
      <ion-label> {{ lucroViagem }} </ion-label>>
    </ion-item>

    <ion-item>
      <ion-label position="floating">Combustível? (L)</ion-label>
      <ion-input type="number" [(ngModel)]="valorLitro"></ion-input>
    </ion-item>

  </ion-card>

</ion-content>